@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to the</h1>
    <h1 class="display-3"><span class="text-secondary">CrushBadTrait</span></h1>
    <img src="~/img/ico.svg" class="m-5" alt="logo"/>
    <p>CrushBadTrat is an app that helps get rid of your bad traits.</p>
    <p>Monitor their manifestation, make reports for the day and see your <span class="text-info">progress</span>.</p>
    <p><a class="text-primary text-decoration-underline" asp-controller="Account" asp-action="Register">Sign Up</a> for a free, and start imrpoving!</p>
</div>